@font-face {
  font-family: HealthLibrary;
  src: url("HealthLibrary-b209da88c8c8acb6b8381a183733510ceee4127a.eot");
  /* IE9 Compat Modes */
  src: url("HealthLibrary-b209da88c8c8acb6b8381a183733510ceee4127a.eot?#iefix") format("embedded-opentype"), url("HealthLibrary-0a505f2ccf77c730c8ea3d18eecebd892212012d.woff") format("woff"), url("HealthLibrary-a505e36dd7759a41a3f7428c35299865b19accef.ttf") format("truetype"), url("HealthLibrary-269dd416b08947c2ac668a3848346c35137e32be.svg#HealthLibrary") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: HealthLibrary;
    src: url("/cassette.axd/file/UI/app/fonts/HealthLibrary-269dd416b08947c2ac668a3848346c35137e32be.svg#FontName") format("svg"); } }

[class^="icon-"], [class*=" icon-"] {
  font-family: HealthLibrary !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-psychiatry:before {
  content: "\e637"; }

.icon-female:before {
  content: "\e635"; }

.icon-baby:before {
  content: "\e636"; }

.icon-flashplayer:before {
  content: "\e600"; }

.icon-minus:before {
  content: "\e601"; }

.icon-filter:before {
  content: "\e602"; }

.icon-cog:before {
  content: "\e603"; }

.icon-user:before {
  content: "\e604"; }

.icon-plus:before {
  content: "\e605"; }

.icon-facebook:before {
  content: "\e606"; }

.icon-envelope-alt:before {
  content: "\e607"; }

.icon-share-alt:before {
  content: "\e608"; }

.icon-copyright:before {
  content: "\e609"; }

.icon-print:before {
  content: "\e60a"; }

.icon-twitter:before {
  content: "\e60b"; }

.icon-institution:before {
  content: "\e60c"; }

.icon-rss:before {
  content: "\e60d"; }

.icon-popup:before {
  content: "\e60e"; }

.icon-file-pdf:before {
  content: "\e60f"; }

.icon-menu:before {
  content: "\e610"; }

.icon-house:before {
  content: "\e611"; }

.icon-volume-high:before {
  content: "\e612"; }

.icon-play:before {
  content: "\e613"; }

.icon-file-excel:before {
  content: "\e614"; }

.icon-play2:before {
  content: "\e615"; }

.icon-copy:before {
  content: "\e616"; }

.icon-chevron-down:before {
  content: "\e617"; }

.icon-file-word:before {
  content: "\e618"; }

.icon-search:before {
  content: "\e619"; }

.icon-linkedin-sign:before {
  content: "\e61a"; }

.icon-stethoscope:before {
  content: "\e61b"; }

.icon-tools:before {
  content: "\e61c"; }

.icon-selfassess3:before {
  content: "\e61d"; }

.icon-file-powerpoint:before {
  content: "\e61e"; }

.icon-camera:before {
  content: "\e61f"; }

.icon-link:before {
  content: "\e620"; }

.icon-book:before {
  content: "\e621"; }

.icon-facetime-video:before {
  content: "\e622"; }

.icon-interactive:before {
  content: "\e623"; }

.icon-cases:before {
  content: "\e624"; }

.icon-citeulike:before {
  content: "\e625"; }

.icon-table:before {
  content: "\e626"; }

.icon-RX:before {
  content: "\e627"; }

.icon-caduceus:before {
  content: "\e628"; }

.icon-searchbrain:before {
  content: "\e629"; }

.icon-multimedia:before {
  content: "\e62a"; }

.icon-anesthes:before {
  content: "\e62b"; }

.icon-hematology:before {
  content: "\e62c"; }

.icon-oncology:before {
  content: "\e62d"; }

.icon-ortho:before {
  content: "\e62e"; }

.icon-radiology:before {
  content: "\e62f"; }

.icon-surgery:before {
  content: "\e630"; }

.icon-cells:before {
  content: "\e631"; }

.icon-clipboard:before {
  content: "\e632"; }

.icon-paper:before {
  content: "\e633"; }

.icon-updates:before {
  content: "\e634"; }

.icon-jumplink:before {
  content: "\e635"; }

.icon-down:before {
  content: "\e636"; }

.icon-up:before {
  content: "\e637"; }

.icon-youtube3:before {
  content: "\ea99"; }

.icon-youtube4:before {
  content: "\ea9a"; }

/*Image mapping*/
.icon-email:before {
  content: "\e607"; }

.icon-envelope:before {
  content: "\e607"; }

.icon-share:before {
  content: "\e607"; }

.icon-linkedin:before {
  content: "\e61a"; }

/*Custom names for existing icons -- microsite homepage*/
.icon-videoaudio:before {
  content: "\e615"; }

.icon-selfassessment:before {
  content: "\e61d"; }

.icon-clinicalskills:before {
  content: "\e61b"; }

.icon-cancertypes:before {
  content: "\e631"; }

.icon-guidelines:before {
  content: "\e632"; }

.icon-patienteducation:before {
  content: "\e633"; }

.icon-facetime-vide:before {
  content: "\e622"; }

/*icon multimedia type mapping*/
.icon-image:before {
  content: "\e61f"; }

.icon-audio:before {
  content: "\e612"; }

.icon-video:before {
  content: "\e622"; }

.icon-flash:before {
  content: "\e600"; }

.icon-pdf:before {
  content: "\e60f"; }

.icon-excel:before {
  content: "\e614"; }

.icon-powerpoint:before {
  content: "\e61e"; }

.icon-word:before {
  content: "\e618"; }

.icon-html:before {
  content: "\e623"; }

.icon-html5:before {
  content: "\e623"; }

.icon-brightcove:before {
  content: "\e622"; }

.icon-Brightcove:before {
  content: "\e622"; }

.icon-url:before {
  content: "\e620"; }

.icon-arrow-up:before {
  content: "\25b2"; }

.icon-family-medicine:before {
  content: "\e61b"; }

.icon-internal-medicine:before {
  content: "\e61b"; }

.icon-ob-gyn:before {
  content: "\e635"; }

.icon-pediatrics:before {
  content: "\e636"; }
